

<mat-toolbar color="primary">
<button  mat-button routerLink="profile">
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    home</mat-icon>
  Profile</button>


<button mat-button routerLink="automation" >Automation</button>


<button mat-button routerLink="data-science" >Data Science</button>


  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
</mat-toolbar>


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
