

<mat-toolbar color="primary">
<button  mat-button routerLink="profile">
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    home</mat-icon>
  Profile</button>


<button mat-button routerLink="automation" >Automation</button>


<button mat-button routerLink="data-science" >Data Science</button>


  <span class="example-spacer"></span>

  <a [href]="twitterUrl" target="_blank">
    <img
      src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png"
      alt=""
      matTooltip="Twitter"
      matTooltipPosition="above"
    />
  </a>
  <a [href]="githubUrl" target="_blank">
    <img
      src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png"
      alt=""
      matTooltip="Github"
      matTooltipPosition="above"
    />
  </a>

  <a [href]="facebookUrl" target="_blank">
    <img
      src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png"
      alt=""
      matTooltip="Facebook"
      matTooltipPosition="above"
    />
  </a>
  <a [href]="googleUrl" target="_blank">
    <img
      src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png"
      alt=""
      matTooltip="Google+"
      matTooltipPosition="above"
    />
  </a>
  <a [href]="linkedinUrl" target="_blank">
    <img
      src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png"
      alt=""
      matTooltip="LinkedIn"
      matTooltipPosition="above"
    />
  </a>

</mat-toolbar>



<router-outlet></router-outlet>
