<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Profile</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="myicon" alt="Josimar">
    <mat-card-title>Josimar Arias</mat-card-title>
    <mat-card-subtitle>Software Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="myimage" alt="Josimar">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
